<main>
  <mat-card>
    <form [formGroup]="teamForm">
      <div formArrayName="teams">
        <h2>Teams</h2>
        <button mat-button type="button" (click)="addTeam()">+ Add another team</button>

        <div *ngFor="let team of teams.controls; let i=index">
          <mat-form-field appearance="fill">
            <mat-label>Team</mat-label>
            <input matInput [formControlName]="i">
          </mat-form-field>

          <button mat-icon-button color="primary" (click)="deleteTeam(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</main>
